{% if this.isAuth() %}
    <div class="detailed-btn-wishlist">
        <input class="pr-id"type="hidden" id="{{this.product.getProductId()}}"/>
        <button
            id="btn-add-to-wishlist"
            type="button"
            class="regular-button
            {% if this.isAdded(this.product.getProductId()) %} hidden {% endif %}"
        >
            <span>{{t('Add to Wishlist')}}</span>
        </button>
        <button
            id="btn-remove-from-wishlist"
            type="button"
            class="regular-button
            {% if not this.isAdded(this.product.getProductId()) %} hidden {% endif %}"
        >
            <span>{{t('Remove from Wishlist')}}</span>
        </button>
    </div>
{% endif %}
